<!--
 * @Descripttion:
 * @version:
 * @Author: houyueke
 * @Date: 2021-04-19 11:37:38
 * @LastEditors: houyueke
 * @LastEditTime: 2021-04-22 19:39:30
-->
<template>
  <div class="about">
    <h1>关于我们</h1>
    <el-button type="primary" @click="handleClick">click</el-button>

    <el-button type="success">click</el-button>
    <el-button type="success">click</el-button
    ><el-button type="success">click</el-button>
    <h1>gggggggggggggg</h1>

    <el-button type="success">click</el-button>
    <el-button type="success">click</el-button>
    <h1>gggggggggggggg</h1>
    <el-button type="warning">ttttttttttt </el-button
    ><el-button type="warning">5555555 </el-button
    ><el-button type="warning">5555555 </el-button>
  </div>
</template>
<script>
import { test } from '../services/login.js'
import { mapGetters, mapMutations, mapActions } from 'vuex'
export default {
  data() {
    return {}
  },
  mounted() {
    this.getData()
    this.SET_TOKEN('666666')
  },
  computed: {
    ...mapGetters('Login', ['getToken']),
  },
  methods: {
    ...mapMutations('Login', ['SET_TOKEN']),

    ...mapActions('Login', ['set_token']),
    handleClick() {
      console.log(this.getToken)
      setTimeout(() => {
        this.set_token('123456')
        console.log(this.getToken)
      }, 5000)
    },
    async getData() {
      const res = await test()
      console.log(res)
    },
  },
}
</script>
<style lang="stylus" scoped>
.about {
  width 400px
  height 200px
  border 1px solid red
  margin 0 auto
}
</style>
