<!--
 * @Descripttion:
 * @version:
 * @Author: houyueke
 * @Date: 2021-04-19 11:37:38
 * @LastEditors: houyueke
 * @LastEditTime: 2021-04-19 15:21:31
-->
<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png" />
    <HelloWorld msg="Welcome to Your Vue.js App" />
    <div>
      <h1>hello vue</h1>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'Home',
  components: {
    HelloWorld,
  },
}
</script>
